* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 8px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $clr-bg-variant;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $clr-primary;
    border-radius: 10px;
}

body {
    font-family: poppins;
    background-color: $clr-bg;
    color: $clr-white;
    line-height: 1.7;
}

.container {
    width: $container-width-lg;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;

    h2,
    h5 {
        text-align: center;
        color: $clr-light;
    }

    h2 {
        color: $clr-primary;
        margin-bottom: 3rem;
    }
}

.text-light {
    color: $clr-light;
}

a {
    color: $clr-primary;
    transition: $transition;

    &:hover {
        color: $clr-white;
    }
}

.btn {
    width: max-content;
    display: inline-block;
    color: $clr-primary;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid $clr-primary;
    transition: $transition;

    &:hover {
        background-color: $clr-white;
        color: $clr-bg;
        border-color: transparent;
    }
}

.btn-primary {
    background-color: $clr-primary;
    color: $clr-bg;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .container {
        width: $container-width-md;
    }

    section {
        margin-top: 6rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: $container-width-sm;
    }

    section {
        h2 {
            margin-bottom: 2rem;
        }
    }
}