@font-face {
    src: url('../fonts/Poppins-Light.ttf');
    font-family: p-light;
}

@font-face {
    src: url('../fonts/Poppins-Medium.ttf');
    font-family: p-md;
}

@font-face {
    src: url('../fonts/Poppins-Regular.ttf');
    font-family: poppins;
}

@font-face {
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-family: p-sm;
}