.experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .experience-frontend, .experience-backend {
        background: $clr-bg-variant;
        padding: 2.4rem 5rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: $transition;

        &:hover {
            background: transparent;
            border-color: $clr-primary-variant;
            cursor: default;
        }

        h3 {
            text-align: center;
            margin-bottom: 2rem;
            color: $clr-primary;
        }

        .experience-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 2rem;
            place-items: center;

            .experience-details {
                display: flex;
                justify-content: center;
                gap: 1rem;

                .experience-icon {
                    margin-top: 6px;
                    color: $clr-primary;
                }
            }
        }

    }
}

@media screen and (max-width: 1024px) {
    .experience-container {
        grid-template-columns: 1fr;

        .experience-frontend, .experience-backend  {
            width: 80%;
            padding: 2rem;
            margin: 0 auto;

            .experience-content {
                padding: 1rem;
            }
        }
    }

}

@media screen and (max-width: 600px) {
    .experience-container {
        gap: 1rem;

        .experience-frontend, .experience-backend  {
            width: 100%;
            padding: 2rem 1rem;
            margin: 0 auto;

            .experience-content {
                padding: 1rem;
            }
        }
    }
}