// $clr-bg: #7D5A50;
// $clr-bg-variant: #B4846C;
// $clr-primary: #E5B299;
// $clr-primary-variant: #FCDEC0;

// $clr-bg: #472D2D;
// $clr-bg-variant: #553939;
// $clr-primary: #704F4F;
// $clr-primary-variant: #A77979;

// $clr-bg: #1f1f38;
// $clr-bg-variant: #2c2c6c;
// $clr-primary: #4db5ff;
// $clr-primary-variant: rgb(77, 181, 255, 0.4);
$clr-bg: #483434;
$clr-bg-variant: #6B4F4F;
$clr-primary: #EED6C4;
$clr-primary-variant: #FFF3E4;

$clr-white: #fff;
$clr-light: rgba(255, 255, 255, 0.6);

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

$transition: all 400ms ease